<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>知码社区</title>
    <meta charset="UTF-8" http-equiv="Content-Type" content="text/html">
</head>
<body>
<div th:insert="common :: common-head"></div>
<div th:replace="common::topbar"></div>

<div class="container-fluid">
    <div class="row publish" id="article-card">
        <div class="col-lg-10 col-md-12 col-sm-12 col-xs-1 publish-child-left">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="#">推荐</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">热榜</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">最新</a>
                </li>
            </ul>

            <div class="card article-card" v-for="item in datalist" :key="item.aid">
                <div class="card-header">
                    {{ item.title }}
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0" >
                        <div class="content card-text editormd-preview-theme" v-html="item.description" id="article-preview">

                        </div>
                        <a href="#" class="btn btn-primary float-right">查看</a>
                    </blockquote>
                </div>
            </div>
<!--            分页-->
            <nav aria-label="Page navigation">
                <ul class="pagination pagination-sm justify-content-center">
                    <p class="badge badge-pill badge-info text-wrap pagination-total" >共{{pagination.endPage}}页 {{pagination.total}}条记录</p>
                    <li class="page-item"><a style="margin-right: 5px" class="page-link" v-if="pagination.currentPage>1" @click="handleCurrentChange(1)" href="#">首页</a></li>
                    <li class="page-item"><a class="page-link" v-if="pagination.currentPage>1" @click="handleCurrentChange(pagination.currentPage-1)" href="#">上一页</a></li>

                    <li class="page-item"><a class="page-link" v-text="pagination.currentPage-2" v-if="pagination.currentPage-2>=1" href="#">currentPage</a></li>
                    <li class="page-item"><a class="page-link" v-text="pagination.currentPage-1" v-if="pagination.currentPage-1>=1" href="#">currentPage</a></li>
                    <li class="page-item active"><a class="page-link" v-text="pagination.currentPage">currentPage</a></li>
                    <li class="page-item"><a class="page-link" v-text="pagination.currentPage+1" v-if="pagination.currentPage+1<=pagination.endPage" @click="handleCurrentChange(pagination.currentPage+1)" href="#">currentPage</a></li>
                    <li class="page-item"><a class="page-link" v-text="pagination.currentPage+2" v-if="pagination.currentPage+2<=pagination.endPage" @click="handleCurrentChange(pagination.currentPage+2)"href="#">currentPage</a></li>

                    <li class="page-item"><a class="page-link" v-if="pagination.currentPage < pagination.endPage" @click="handleCurrentChange(pagination.currentPage+1)" href="#">下一页</a></li>
                    <li class="page-item"><a style="margin-left: 5px;" class="page-link" v-if="pagination.currentPage < pagination.endPage" @click="handleCurrentChange(pagination.endPage)" href="#">尾页</a></li>
                </ul>
            </nav>
        </div>

        <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12 publish-child-right">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action active" aria-current="true">综合</a>
                <a href="#" class="list-group-item list-group-item-action">后端</a>
                <a href="#" class="list-group-item list-group-item-action">前端</a>
                <a href="#" class="list-group-item list-group-item-action">人工智能</a>
                <a class="list-group-item list-group-item-action disabled">开发工具</a>
            </div>
        </div>
    </div>
</div>

<script>
    var vue = new Vue({
        el: '#article-card',
        data:{
            datalist: [],
            pagination: {
                currentPage: 1,
                pageSize: 10,
                total: 0,
                endPage: 0
            }
        },

        created(){
            this.getArticles();
        },
        methods: {
            // 获取文章
            getArticles(){
                axios.get("/index/articles/"+this.pagination.currentPage).then((res)=>{
                    this.datalist = res.data.data.list;
                    this.pagination.pageSize = res.data.data.size;
                    this.pagination.currentPage = res.data.data.pageNum;
                    this.pagination.total = res.data.data.total;
                    this.pagination.endPage = res.data.data.pages;
                });
            },
            handleCurrentChange(currentPage){
                this.pagination.currentPage=currentPage;
                this.getArticles();
            }
        }
    })
</script>

</body>
</html>