<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.yvenxx.zhima_community.mapper.ArticleMapper">
    <insert id="insert" keyProperty="aid" useGeneratedKeys="true">
        insert into article
        values(#{aid},#{title},#{description},#{gmtCreate},#{gmtModified},
               #{category},#{creator},#{viewCount},#{likeCount},#{comment},#{commentCount})
    </insert>

    <select id="getAllArticle" resultType="cn.yvenxx.zhima_community.model.Article">
        select * from article
    </select>

</mapper>
