<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.yvenxx.zhima_community.mapper.UserMapper">

    <insert id="insertUser" useGeneratedKeys="true" keyProperty="id">
        insert into user(id,account_id,user_name,password,email,token,gmt_create,gmt_modified)
        values(#{id,jdbcType=INTEGER},#{accountId,jdbcType=INTEGER},#{userName},#{password},#{email},#{token},#{gmtCreate},#{gmtModified});
    </insert>
    <update id="update">
        UPDATE user SET account_id=#{accountId},
                        user_name=#{userName},
                        password=#{password},
                        email=#{email},
                        token=#{token},
                        gmt_create=#{gmtCreate},
                        gmt_modified=#{gmtModified}
        where id = #{id};
    </update>

    <select id="getByUserNameUser" resultType="cn.yvenxx.zhima_community.model.User">
        select * from user where user_name = #{username};
    </select>
    <select id="getUserByToken" resultType="cn.yvenxx.zhima_community.model.User">
        select * from user where token = #{token};
    </select>

</mapper>