<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.yvenxx.zhima_community.mapper.UserMapper">

    <insert id="insertUser" useGeneratedKeys="true" keyProperty="id">
        insert into user(id,role,user_name,password,email,gmt_create,gmt_modified)
        values(#{id,jdbcType=INTEGER},#{role},#{userName},#{password},#{email},#{gmtCreate},#{gmtModified});
    </insert>
    <update id="update">
        UPDATE user
            <set>
                <if test="userName != null">
                    user_name=#{userName},
                </if>
                <if test="role != null">
                    role=#{role},
                </if>
                <if test="email != null">
                    email=#{email},
                </if>
                <if test="gmtModified != null">
                    gmt_modified=#{gmtModified}
                </if>
            </set>
        where id = #{id}
    </update>
    <update id="updatePassword">
        update user set password=#{password} where password = #{oldpwd} and id = #{id}
    </update>
    <delete id="deleteUser">
        DELETE FROM user where id = #{id}
    </delete>

    <select id="getByUserNameUser" resultType="cn.yvenxx.zhima_community.model.User">
        select * from user where user_name = #{username};
    </select>
    <select id="getUserByToken" resultType="cn.yvenxx.zhima_community.model.User">
        select * from user where token = #{token};
    </select>
    <select id="getUserById" resultType="cn.yvenxx.zhima_community.model.User">
        select * from `user` where id = #{id}
    </select>
    <select id="getAllUser" resultType="cn.yvenxx.zhima_community.model.User">
        select * from user
    </select>

</mapper>
